.selectGrille > Label{
	-fx-border-radius: 20.0px;
	-fx-border-width: 1.0px;
	-fx-border-color: black;
	-fx-background-radius: 200.0px;
	-fx-background-color: linear-gradient(#e9e2bc, #d3c56b);
	-fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 2.0, 0.0 , 0.0 , 1.0 );
}

.selectGrille > Label:hover{
	-fx-background-color: linear-gradient(#d3c56b, #bcae53);
}

.fond{
	-fx-background-color: white;
}

/*
 * GRILLE ET SOUS GRILLE
 */

.sudokuGrille{
	-fx-border-color: white;
	-fx-border-width: 2.0px;
	-fx-border-radius: 5.0px;
}

.sousGrille{
	-fx-border-color: white;
	-fx-background-color: white;
}

.sousGrille > Label{
	-fx-border-color: white;
	-fx-border-width: 1.0px;
	-fx-background-color: #75b3ea;
}

.sousGrille > Label:hover{
	-fx-background-color: #508ec5;
}

/*
 * AIDE
 */

.panneauAide{
	-fx-background-color: #a2c4c9;
	-fx-border-color: #333333;
	-fx-border-width: 2.0px;

}

/*
 * CSS DES BOUTONS
 */
.boutonBase{
    -fx-background-insets: 1.0;

    -fx-border-width: 0.0px;
    -fx-border-radius: 150.0px;
    -fx-background-radius: 150.0px;

    -fx-text-fill: white;

    -fx-padding: 8.0;
}


.boutonBase:hover{
  -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 2.0, 0.0 , 0.0 , 1.0 );
}

.BTBlanc{
  -fx-text-fill: black;
}

/* BLEU
*/

.BTBleu{
    -fx-background-color: linear-gradient(#337ab7, #2e6da4);
}

.BTBleu:hover{
    -fx-background-color: linear-gradient(#2e6da4, #286090);
}

/* VIOLET
*/

.BTViolet{
    -fx-background-color: linear-gradient(#5718FF, #4112BF);
}

.BTViolet:hover{
    -fx-background-color: linear-gradient(#4112BF, #2B0C7F);
}

/* ROUGE
*/
.BTrouge{
    -fx-background-color: linear-gradient(#d9534f, #d43f3a);
}

.BTrouge:hover{
    -fx-background-color: linear-gradient(#d43f3a, #c9302c);
}

/* VERT
*/

.BTvert{
    -fx-background-color: linear-gradient(#33b765, #2ea45b);
}

.BTvert:hover{
    -fx-background-color: linear-gradient(#2ea45b, #28904f);
}

/* JAUNE
*/
.BTjaune{
    -fx-background-color: linear-gradient(#b7a333, #a4922e);
}

.BTjaune:hover{
	-fx-background-color: linear-gradient(#a4922e, #908028);
}

/* TextField
 */
 
.text-area:readonly{
 	-fx-background-color: transparent;
} 
 
.text-area:readonly .scroll-pane:fitToWidth .viewport{
 	-fx-background-color: transparent;
 }
 
.text-area:readonly .scroll-pane:fitToWidth .viewport .content{
	-fx-background-color: transparent;
}

/*
 * Scroll bar
 */
.text-area:readonly .scroll-pane:fitToWidth .scroll-bar:vertical .thumb{
	-fx-background-color: white;
	-fx-background-radius: 50px;
	-fx-border-color: #CCCCCC;
	-fx-border-radius: 50px;
	-fx-border-insets: 1px; 	
}
.text-area:readonly .scroll-pane:fitToWidth .scroll-bar:vertical{
	-fx-background-color: transparent;
}
.text-area:readonly .scroll-pane:fitToWidth .scroll-bar:vertical .track{
 	-fx-background-color: transparent;
}

.text-area:readonly .scroll-pane:fitToWidth .scroll-bar:vertical .decrement-button .decrement-arrow, .text-area:readonly .scroll-pane:fitToWidth .scroll-bar:vertical .increment-button .increment-arrow{
	-fx-background-color : white;
}

.text-area:readonly .scroll-pane:fitToWidth .scroll-bar:vertical .decrement-button:hover, .text-area:readonly .scroll-pane:fitToWidth .scroll-bar:vertical .increment-button:hover{
	-fx-background-color : transparent;
}
